* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.container {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /* position: relative;
  top: 0; */
}

.center-box {
  width: 70%;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.logo-box {
  padding: 1em 0;
}

.logo-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.description-box,
.reservation-box {
  background-color: rgba(255, 255, 255, 0.637);
  text-align: center;
  color: rgba(51, 51, 51, 0.829);
  padding: 1em;
}

.description-box {
  margin-bottom: 1em;
  border: 7px solid #000;
}
